:root
{
	--blue-color: #2AABE4;
	--yellow-color: #FFCD24;
}
a,a:hover
{
	text-decoration: none;
}
.blue-color
{
	color: var(--blue-color);
}

.yellow-color
{
	color: var(--yellow-color);
}

body
{
	font-family: 'Roboto', sans-serif;
	position: relative;
	box-sizing: border-box;
	overflow-x: hidden;
}
.signika
{
	font-family: 'Signika', sans-serif !important;
}
header
{
	position: relative;
	width: 100%;
	margin-top: -7%;
	text-align: center;
}

@media screen and (max-width: 767px)
{
	header
	{
		margin-top: -21%;
	}
}

header#main-header form#search-form span:hover
{
	cursor: pointer;
}

header#main-header .header-content
{
	position: absolute;
	top: 35%;
	left: 0;
	right: 0;
	color:#fff;
}
header#main-header .header-content h1
{
	font-size: 80px;
}

@media (max-width: 992px) {
    .navbar-collapse {
        position: absolute;
        top: 86px;
        right: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 100%;
        transition: all 0.3s ease;
        background: #000000bf !important;
        display: block;
		height: 99vh;
    }
    .navbar-collapse.collapsing {
        height: auto !important;
        margin-right: 50%;
        transition: all 0.3s ease;
        display: block;
    }
    .navbar-collapse.show {
        right: 0;
    }
}

@media screen and (max-width: 1360px)
{
	header#main-header .header-content h1
	{
		font-size: 65px;
	}
}

@media screen and (max-width: 767px)
{
	header#main-header .header-content h1
	{
		font-size: 36px;
	}
}

header#main-header .header-content form
{
	width: 70%;
	margin: 0 auto;
}

@media screen and (max-width: 1360px)
{
	header#main-header .header-content form
	{
		width: 80%;
	}
}

header#main-header .header-content form  input
{
	height: 60px;
	border-top-left-radius: 2rem;
	border-bottom-left-radius: 2rem;
	font-size: 20px;
    padding: 30px;
}

@media screen and (max-width: 1360px)
{
	header#main-header .header-content form  input
	{
		font-size: 20px;
	}
}

@media only screen and (max-width: 767px)
{
	header#main-header .header-content form  input
	{
		height: 0;
		font-size: 12px;
    	padding: 22px;
	}
}

header#main-header .header-content form .input-group-prepend span
{
	border-top-right-radius: 2rem !important;
	border-bottom-right-radius: 2rem !important;
}

.bg-blue , .bg-blue:hover , .bg-blue:focus
{
	background: #2AABE4 !important;
	border:1px solid #2AABE4 !important;
	color:#fff !important;
}

.bg-yellow , .bg-yellow:hover , .bg-yellow:focus
{
	background: var(--yellow-color) !important;
	border:1px solid var(--yellow-color) !important;
	color:#333 !important;
}

nav.bg-dark
{
	background-color: #000000bf !important;
}

nav li.nav-item:not(:last-child)
{
	border-right:1px solid #fff;
}

@media screen and (max-width: 767px)
{
	nav li.nav-item:not(:last-child)
	{
		border-right:none;
	}
}

.navbar-dark .navbar-nav .nav-link
{
	color:#fff !important;
}

/* Community And Benifit Section */

.community_benifit
{
	background-color: #f2f2f2;
	padding: 60px;
}

.responsive {
  width: 100%;
  height: auto;
}
.infographic {
    width: auto;
  height: auto;
}

.center {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

@media screen and (max-width: 767px)
{
	section#community_benifit img
	{
		width: 100%;
	}
}

section#community_benifit h1,.heading
{
	padding-bottom: 0px !important;
	color: var(--blue-color);
	font-family: 'Signika', sans-serif !important;
}

.community_benifit h1.heading{margin-bottom: 0; text-align: left;}
.community_benifit h1.heading +p{text-align: left; margin-bottom:20px;}

/* ******************************* */


/* Categories Section  */

section#categories
{
	background: linear-gradient(rgb(176, 210, 226),rgb(30, 169, 231));
	/*background: var(--blue-color);*/
	padding: 60px;
}

section#categories .categorybox .category
{
	border: 1px solid #fff;
	padding: 20px;
}

section#categories .categorybox img
{
	width: 80px;
	height: auto;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

/* Glow */
.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

/* Resource Box  */

.resourcebox
{
	    box-shadow: 0 0 1px rgba(0, 0, 0, 0);

}

.resourcebox .card
{
	box-shadow: 0px 0px 10px 1px #c1c1c1b0;
	height: 412px;
	max-height: 412px;
	border-radius: 15px;
}

.resourcebox .card .card-footer
{
	color:var(--primary);
}
.resourcebox .card .card-footer small
{
	color:#6c757d;
}

.resourcebox .card img.card-img-top
{
	height: 168px !important;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}


@media screen and (max-width: 767px)
{
	.resourcebox .card
	{
		box-shadow: 0px 0px 10px 1px #c1c1c1b0;
		height: 460px;
		max-height: 460px;
	}

	.resourcebox .card img.card-img-top
	{
		height: auto !important;
	}
}

/* Newsletter Section */

#newsletter p.tagline
{
	color:grey;
	font-size: 20px;
}

#newsletter #subscribeBtn
{
	/*width: 100%;
	border: 1px solid #333;
	margin-top:16px;
	border-radius: 2em;*/
	margin-top: 16px;
	background: var(--yellow-color);
    border: 1px solid #ffcf00;
    color: #252525;
}
#newsletter #subscribeBtn:hover
{
	cursor: pointer;
}

/*#newsletter #subscribeInput
{
	border:none;
	border-bottom: 1px solid #fff;
	border-radius: 0;
	color:#fff;
}*/

#newsletter #subscribeInput:focus
{
	outline: none;
	box-shadow: none;
}

#newsletter #subscribeInput::placeholder
{
	color:#fff;
}

#newsletter #form-container
{
	display: grid;
	width: 40%;
	margin: 0 auto;
}

@media only screen and (max-width: 767px)
{
	#newsletter #form-container
	{
		width: 100%;
	}
}

/*Resources Page*/

header#resources-header .header-content
{
	position: absolute;
	top: 25%;
	left: 8%;
}

@media screen and (max-width: 576px)
{
	header#resources-header .header-content
	{
		top: 20%;
		left: 0;
	}
}


header#supportusheader
{
	background:url(../images/supportnew.png);
	height: 820px;
	background-size: cover;
}

@media screen and (max-width: 767px)
{
	header#supportusheader
	{
		background:url(../images/supportussmallnew.png);
		height: 820px;
		background-size: cover;
		background-position: center;
	}
}

#testimonials
{
	position: relative;
}

#testimonials:before
{
  	content: "";
	top: 0;
	left: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	/*background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(42,171,228,1) 100%);*/
	background: var(--blue-color);
	/*filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);*/

}

@media screen and (max-width: 576px)
{
   button.slick-prevslick-next.slick-arrow,button.slick-next.slick-arrow
	{
		display: none !important;
	}
}

#testimonials .slick-prev:before,#testimonials .slick-next:before
{
	color:#fff !important;
}

#testimonials .testimonials_slider .slick-arrow
{
	top: 54% !important;
}

/*#testimonials .item.slick-slide.slick-active:not(.slick-center) > .card-body
{
	 background: rgb(255,255,255);
    background: linear-gradient(276deg, rgba(255,255,255,1) 42%, rgba(42,171,228,1) 100%);
}*/

@media only screen and (max-width: 576px)
{
	#testimonials .slick-slide.item .card-body > div
	{
		padding:0;
		width: 45%;
	    margin: 0 auto;
	}
}

.slick-prev:before, .slick-next:before
{
	font-size: 40px !important;
}

.slick-prev
{
	left: -45px !important;
}


/* Single Resource Page */
/*#single-resource-header
{
	overflow: hidden;
	height: 350px;
}*/

#author-profile-header
{
	overflow: hidden;
	height: 380px;
}

@media screen and (max-width: 767px)
{
	/* Single Resource Page */
	/*#single-resource-header
	{
		overflow: hidden;
		height: 450px;
	}*/

	#author-profile-header
	{
		overflow: hidden;
		height: 480px;
	}
}

#single-resource-header .container-fluid, #author-profile-header .container-fluid
{
	margin-top:7%;
	margin-left: 2%;
}

@media screen and (max-width: 1360px)
{
	#single-resource-header .container-fluid
	{
		margin-top:7%;
		padding-left: 2%;
	}
}

@media screen and (max-width: 767px)
{
	#single-resource-header .container-fluid
	{
		margin-top:17%;
		padding-left: 2%;
	}

	#author-profile-header .container-fluid
	{
		margin-top: 45%;
	}
}

/* Support Us Page */

#supportusheader #bottomScrollerContainer
{
	position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

#supportusheader #bottomScrollerContainer > a
{
	font-size: 30px;
    background: var(--blue-color);
    color: #fff;
    /* padding: 15px; */
    border-radius: 100%;
    padding: 15px 25px;
}


#supportUsBtn
{
	position: fixed;
	bottom: 0;
	right: 0;
}

@media screen and (max-width: 576px)
{
	#supportUsBtn
	{
		display: none;
	}
}

/* custom CSS by S.O. */
.nav-link {
	font-size: 0.8rem;
}
.navButton {
  background-color: yellow;
  border: none;
	font-size: 0.8rem;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.navButton:hover {
  background-color: white;
  color: black;
  border: 2px solid yellow;
}

#intro_video {
	padding-top: 50px;
	padding-bottom: 40px;
}
#video_text {
	padding-top: 20px;
}
#video_heading{
	font-family: Signika;
}
#video_heading_text {
	font-family: Roboto;
	font-size: 20px;
}

.video {
	border-radius: 15px;
}

/* Social Media Buttons */
.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fa {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.social-btns .btn.facebook:before {
  background-color: #3b5998;
}
.social-btns .btn.facebook .fa {
  color: #3b5998;
}
.social-btns .btn.twitter:before {
  background-color: #3cf;
}
.social-btns .btn.twitter .fa {
  color: #3cf;
}
.social-btns .btn.google:before {
  background-color: #dc4a38;
}
.social-btns .btn.google .fa {
  color: #dc4a38;
}
.social-btns .btn.dribbble:before {
  background-color: #f26798;
}
.social-btns .btn.dribbble .fa {
  color: #f26798;
}
.social-btns .btn.skype:before {
  background-color: #00aff0;
}
.social-btns .btn.skype .fa {
  color: #00aff0;
}
.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.social-btns {
  height: 90px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 90px;
  height: 90px;
  line-height: 90px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
  opacity: 0.99;
}
.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.social-btns .btn .fa {
  font-size: 38px;
  vertical-align: middle;
}

#supportus-description {
	padding-top: 50px;

}
#section-title {
	font-family: signika;
	color: #4cafea;
}
.section-body {
	font-family: Roboto;
}
/*
.supportus-card {
	border: solid 2px black;
	padding: 20px;
	margin: 10px;
}
.support-card {
	font-family: Roboto;
	text-decoration: none;
	width: 938px;
	position: absolute;
	top: 50%;
	left: 30px;
	right: 0;
}
.card_content_title {
	color: #4cafea;
}
*/
.resource_heading {
	padding-bottom: 20px;
}
.author_profile {
	text-align: left !important;
}
.author_name {
	font-size: 12px !important;
	margin-left: 0.3rem !important;
}
.resource-publish-date {
	font-size: 12px;
}
.resoruce-section-heading {
	font-size: 12px;
	color: #818181 !important;
}




.footer {
	padding-top: 50px;
}
.social-icons {
	height: 50px;
	width: auto;
}
#nesletter_subscription {
	padding-bottom: 16px;
}
